body {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    background-image: url(./img/Rectangle\ 23\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

i {
    color: white;
}

.search-container {
    text-align: center; 
    margin-top: -45px;
    position: relative; /* Adicionado para a lista de sugestões */
}

.centered-input {
    width: 50%;
    padding: 10px; 
    box-sizing: border-box; 
    font-size: 17px;
}

.search-icon {
    display: inline-block; 
    vertical-align: middle;
    cursor: pointer;
    font-size: 1.2em;
}

.suggestions-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%; /* Mesma largura que o input */
    border: 1px solid #ddd;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    left: 25%; /* Centraliza abaixo do input */
    background-color: white;
    z-index: 1000;
}

.suggestions-list li {
    padding: 10px;
    cursor: pointer;
    color: black; /* Torna o texto visível */
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}

@media screen and (max-width: 768px) {
    .header {
        display: block;
        height: 100vw;
    }
    .logo {
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 15px;
    }
    .centered-input {
        width: 80%; /* Ajuste para dispositivos menores */
    }
    .suggestions-list {
        width: 80%; /* Ajuste para dispositivos menores */
        left: 10%; /* Centraliza abaixo do input em dispositivos menores */
    }
}